body {
    background-color:beige;
}

h1 {
    font-family: 'Adobe Garamond Pro';
    color: #3D352A;
}

h3 {
    font-family:Verdana;
    color: #3D352A;
}

p {
    font-family: Verdana;
    color: #3D352A;
}