.mybtn {
    width: 50px;
    height: 50px
}

.charbtn {
    width: 300px;
    height: 300px;
    overflow: auto;
}

#boxLog {
    Width:300px; 
    Height:700px;
}

.body {
    background-image:url("../Images/bakgrund.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
    overflow: auto;
}

#statsBox {
    top: 3%;
    right: 5%;
    position: absolute;
}

#ratCharacter {
    height: 150px;
    width: 200px;
    top: 35%;
    left: 5%;
    position: absolute;
    z-index: 1;
}

#CardHeader {

top: 50%;
left: 45%;
position: absolute;
z-index: 2;
}

#CardText {
top: 65%;
left: 45%;
width: 200px;
position: absolute;
z-index: 2;
}

#cardImage {
height: 300px;
width: 200px;
}

.cardDiv {
top: 50%;
left: 45%;
position: absolute;

-webkit-animation: fadein 2s; /* Safari and Chrome */
-moz-animation: fadein 2s; /* Firefox */
-ms-animation: fadein 2s; /* Internet Explorer */
-o-animation: fadein 2s; /* Opera */
animation: fadein 2s;

-webkit-transition: 1s ease-in-out;
-moz-transition: 1s ease-in-out;
-o-transition: 1s ease-in-out;
transition: 1s ease-in-out;

text-align: center;
z-index: 2;
}

.cardDiv:hover {
-webkit-transform: rotate(360deg) scale(2);
-moz-transform: rotate(360deg) scale(2);
-o-transform: rotate(360deg) scale(2);
-ms-transform: rotate(360deg) scale(2);
transform: rotate(360deg) scale(2);
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
​ {
}

.LeftScreen {
    width: 300px;
    height: 500px;
}
