.mybtn {
    width: 150px;
    height: 150px;
}

.boxStyle {
    font-family:Verdana;
    color: #545454;
}

.logStyle {
    font-family:Verdana;
    color: #545454;
}

.gameOver {
    width: 150px;
    height: 150px;
    margin-left: 35%;
    margin-top: 3%;
    z-index: 5;
}

.charbtn {
    width: 300px;
    height: 300px;
    overflow: auto;
    margin-top: 18%;
    margin-left: 25%;
}

#boxLog {
    Width:300px; 
    Height:700px;
}

.body {
    background-image:url("../Images/bakgrund.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
    overflow: auto;
}

body, html {
    height: 100%;
    width: 100%;
}

#statsBox {
    top: 3%;
    right: 5%;
    position: absolute;
}

.ratCharacter {
    height: 150px;
    width: 200px;
    top: 35%;
    left: 5%;
    position: absolute;
    z-index: 1;
}

.CardHeaderClass {

font-size: 14px;
margin-top: 5px;
margin-left: 5px;
font-family: Verdana;
position: absolute;
z-index: 2;
font-weight:bold;
}

#CardText {

width: 180px;
margin-top: 160px;
margin-left: 5px;
font-family: Verdana;
position: absolute;
z-index: 2;
font-size: 14px;
}

#cardImage {
height: 300px;
width: 200px;
}

.cardDiv {
top: 50%;
left: 45%;
position: absolute;

-webkit-animation: fadein 2s; /* Safari and Chrome */
-moz-animation: fadein 2s; /* Firefox */
-ms-animation: fadein 2s; /* Internet Explorer */
-o-animation: fadein 2s; /* Opera */
animation: fadein 2s;

-webkit-transition: 1s ease-in-out;
-moz-transition: 1s ease-in-out;
-o-transition: 1s ease-in-out;
transition: 1s ease-in-out;

text-align: center;
z-index: 2;
}

.tooSmall {
    display:none;
}

.cardDiv:hover {
-webkit-transform: rotate(360deg) scale(2);
-moz-transform: rotate(360deg) scale(2);
-o-transform: rotate(360deg) scale(2);
-ms-transform: rotate(360deg) scale(2);
transform: rotate(360deg) scale(2);
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
​ {
}

.LeftScreen {
    width: 300px;
    height: 500px;
}

.startButton {
    margin-left: 30%;
    margin-top: 15%;
    z-index: 5;
}

@media only screen and (min-width: 1px) and (max-width: 1599px) {
    .tooSmall {
        display:block;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1599px) {
    .ratCharacter {
        height: 150px;
        width: 200px;
        top: 35%;
        left: 1%;
        position: absolute;
        z-index: 1;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1829px) {
    .ratCharacter {
    height: 150px;
    width: 200px;
    top: 35%;
    left: 3%;
    position: absolute;
    z-index: 1;
}
}

@media only screen and (min-width: 1830px) and (max-width: 1995px) {

}

@media only screen and (min-width: 1996px) and (max-width: 2150px) {
    .ratCharacter {
    height: 150px;
    width: 200px;
    top: 35%;
    left: 9%;
    position: absolute;
    z-index: 1;
}
}

@media only screen and (min-width: 2151px) and (max-width: 2300px) {
    .ratCharacter {
    height: 150px;
    width: 200px;
    top: 35%;
    left: 12%;
    position: absolute;
    z-index: 1;
}
}

@media only screen and (min-width: 2301px) and (max-width: 2500px) {
    .ratCharacter {
    height: 150px;
    width: 200px;
    top: 35%;
    left: 16%;
    position: absolute;
    z-index: 1;
}
}

@media only screen and (min-width: 2501px) and (max-width: 2700px) {
    .ratCharacter {
    height: 150px;
    width: 200px;
    top: 35%;
    left: 18%;
    position: absolute;
    z-index: 1;
}
}

@media only screen and (min-width: 2701px) and (max-width: 2900px) {
    .ratCharacter {
    height: 150px;
    width: 200px;
    top: 35%;
    left: 22%;
    position: absolute;
    z-index: 1;
}
}
